#########################
#     DJANGO / PYTHON   #
#########################

# Cache & compilations Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnement virtuel
venv/
env/
.venv/

# Fichiers d’environnement (variables secrètes)
.env
*.env

#########################
#       DATABASES       #
#########################

# Sauvegardes SQL / PostgreSQL
*.sql
*.dump
*.db
*.sqlite3

#########################
#      DJANGO FILES     #
#########################

# Static & media générés
staticfiles/
media/

# (optionnel) ignorer les migrations si tu veux un repo très propre
# */migrations/
# !*/migrations/__init__.py

#########################
#        TESTING        #
#########################

# Pytest
.pytest_cache/
.cache/
.coverage
htmlcov/

#########################
#        LOGS           #
#########################

*.log

#########################
#         OS            #
#########################

.DS_Store
Thumbs.db

#########################
#        IDE            #
#########################

# PyCharm / IntelliJ
.idea/

# VSCode
.vscode/

#########################
#     DEPLOY / CI       #
#########################

# Gunicorn pid files
*.pid
