
/home/administrateur/stock_manager/.env
.idea/
/.idea
ini

SECRET_KEY=ma_clef_super_secrete
POSTGRES_DB=stock_manager_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

/home/administrateur/stock_manager/sauvegarde_stock_manager.sql
/home/administrateur/stock_manager/sauvegarde_stock_manager_full.dump
/home/administrateur/stock_manager/stock_manager_backup.dump


# Fichiers d'environnement
.env
*.env

# Sauvegardes et bases de données
*.sql
sauvegarde_stock_manager.sql

# Dossiers de dépendances
venv/
env/
__pycache__/
*.pyc

# Autres fichiers sensibles ou inutiles
*.log
.DS_Store


# Static & media
staticfiles/
media/



