#########################
#     DJANGO / PYTHON   #
#########################

# Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Environment files (secret variables)
.env
*.env

#########################
#       DATABASES       #
#########################

# SQL / PostgreSQL backups
*.sql
*.dump
*.db
*.sqlite3

#########################
#      DJANGO FILES     #
#########################

# Generated static & media files
staticfiles/
media/

# (optional) ignore migrations if you want a very clean repo
# */migrations/
# !*/migrations/__init__.py

#########################
#        TESTING        #
#########################

# Pytest
.pytest_cache/
.cache/
.coverage
htmlcov/

#########################
#        LOGS           #
#########################

*.log

#########################
#         OS            #
#########################

.DS_Store
Thumbs.db

#########################
#        IDE            #
#########################

# PyCharm / IntelliJ
.idea/

# VSCode
.vscode/

#########################
#     DEPLOY / CI       #
#########################

# Gunicorn pid files
*.pid

*.json
# Or, more specifically:
complet_prod.json
portfolio_full.json
mes_acces.json

# Archives and backups
*.tar.gz
*.zip
*.rar
stock_manager.tar.gz