{% extends "base.html" %}
{% load static %}

{% block title %}Home — Stock Manager{% endblock %}

{% block content %}
  <div class="card">

      <!-- PHOTO TEST (SIMPLE) -->
    <img src="{% static 'dashboard/img/profile.png' %}" alt="Photo" width="200">


      <h1>Welcome 👋</h1>
    <p>Manage your multi-company stock, products and movements — with threshold alerts.</p>
    <ul>
        <li><a href="{% url 'companies:list' %}">Companies</a></li>
        <li><a href="{% url 'alerts:list' %}">View alerts</a></li>
        <li><a href="{% url 'catalog:list' %}">View products</a></li>
        <li><a href="{% url 'inventory:list' %}">View inventory</a></li>
        <li><a href="{% url 'wagtailadmin_home' %}">Go to Wagtail Admin</a></li>
        <li><a href="/portfolio/">My Portfolio</a></li>
        <li><a href="{% url 'contact' %}">Contact me</a></li>

        {% if request.user.is_admin %}
        <li><a href="{% url 'users:list' %}">Manage users</a></li>
        {% endif %}

    </ul>
  </div>
{% endblock %}