{% extends "base.html" %}
{% load static %}



{% block title %}Connexion{% endblock %}

{% block content %}
<h1>Welcome to my site 👋</h1>
<a href="/projets/laravel/">Projet Laravel</a>
<h1>Developer with a strong interest in logic and structure, I mainly work on backend applications and practical projects.
Self-taught, I focus on code clarity, simplicity, and efficiency.</h1>



<div style="display:flex; align-items:center; gap:1rem; margin-bottom:1rem;">
  <img
    src="{% static 'dashboard/img/profile.png' %}"
    alt="Photo de profil"
    style="width:72px; height:112px; border-radius:50%; object-fit:cover; display:block;"

  />
  <div>
    <h1 style="margin:0;"></h1>
  </div>
</div>

  <div class="card" style="max-width:420px">
    <h1>Connexion</h1>

    {% if messages %}
      <ul class="messages">
        {% for m in messages %}<li>{{ m }}</li>{% endfor %}
      </ul>
    {% endif %}

    <form method="post">
      {% csrf_token %}
      <label>Nom d'utilisateur</label><br />
      <input name="username" required style="width:100%;padding:.5rem;margin:.3rem 0 1rem" />

      <label>Mot de passe</label><br />
      <input type="password" name="password" required style="width:100%;padding:.5rem;margin:.3rem 0 1rem" />

      <button type="submit" style="padding:.6rem 1rem;border-radius:.5rem">
        Se connecter
      </button>
    </form>

  </div>


<a href="{% url 'users:password_reset' %}">Mot de passe oublié ?</a>

{#<p><a href="{% url 'users:password_reset_request' %}">Mot de passe oublié ?</a></p>#}


{% endblock %}
